.container {
  width: 100%;
  background-color: #e7e7e2;
  display: table;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 30px;
}

.main-center {
  width: auto;


  article {
    background-color: #fff;
    margin-bottom: 30px;
  }

  .site-footer {
    background-color: #151515;
    color: #fff;
  }

  header {
    height: 100px;
    background: #f7f7f7;
  }

  footer {
    border-top: solid 1px #D3D3D3;
    padding: 30px;
    overflow: hidden;
  }

}

#nav-center-below {
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #fff;
}

#reply-form {
  background-color: #fff;
}

.widget-title {
  color: #999;
}

.footwidgets {
  background-color: #000;
  color: #fff;
}