.body-header-title {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin: 0;

  a {
    color: #000;
    text-decoration: none;
    }

  h2 {
    font-size: 0.875rem;
    font-weight: 400;
    color: #000;
    max-width: 600px;
    margin: 0 auto;
    }

}


