@charset "utf-8";
@import "normalize";
@import "partials/header";
@import "partials/center-footer";
@import "partials/sidebar";


@media screen and (min-width: 960px) {
 
  .main-center,
  .sidebar-column {
    display: table-cell;
    vertical-align: top;
  }

}

@media screen and (max-width: 959px) {

  .main-center,
  .sidebar-column {
    margin:30px;
    width: auto;
 }

}