%nav.ly-main-center#nav-center-below
    .article-previous
        %a{href: "http://themes.elmastudio.de/tatami/page/2/"}
            ← 古い記事
    .article-nextaside-content.scss
        #footer.site-footer
        
.ly-main-center.is-bottom
    #footwidgets-contents-1
        %aside.is-bottom
            %h3.widget-title
                ABOUT US
    #footwidgets-contents-2
        %aside.is-bottom
            %h3.widget-title
                ABOUT US
    #footwidgets-contents-3
        %aside.is-bottom
            %h3.widget-title
                ABOUT US
    .site-info
        © 2017 Tatami Powered by WordPress Theme: Tatami by Elmastudio