%header#body-header
    %hgroup.body-header-title
        %h1.title
            %a{href: "http://themes.elmastudio.de/tatami/", title: "Tatami"}
                TATAMI
        %h2.description
            A premium responsive WordPress theme by Elmastudio with mobile-first, off-canvas layout and a beautiful, minimal web design. Find out more about the Tatami theme or ask us a question on the Tatami theme page.