.ly-sidebar-column
    %aside.is-both-side
        %h3{class: "widget-title"}
            Social Links
    %aside.is-both-side
        %h3{class: "widget-title"}
            Popular Posts
    %aside.is-both-side
        %h3{class: "widget-title"}
            ecent Comments
    %aside.is-both-side
        %h3{class: "widget-title"}
            Archives
    %aside.is-both-side
        %h3{class: "widget-title"}
            Like us on Facebook