.ly-sidebar-column
    %aside{id: "tatami-sociallinks-2"}
        %h3{class: "widget-title"}
            Social Links
    %aside{id: "tatami-recentpost"}
        %h3{class: "widget-title"}
            Popular Posts
    %aside{id: "tatami-categories-2"}
        %h3{class: "widget-title"}
            ecent Comments
    %aside{id: "tatami-archives-2"}
        %h3{class: "widget-title"}
            Archives
    %aside{id: "tatami-facebook-likebox-2"}
        %h3{class: "widget-title"}
            Like us on Facebook