%article#post-1.post
	%header.post-header
		ヘッダーコンテンツ仮
		.post-entry
			content
	%footer.post-footer
		DECEMBER 12, 2012  COMMENTS 0仮
%article#post-2.post
	%header.post-header
		ヘッダーコンテンツ仮
		.post-entry
			content
	%footer.post-footer
		DECEMBER 12, 2012  COMMENTS 0仮
%article#post-3.post
	%header.post-header
		ヘッダーコンテンツ仮
		.post-entry
			content
	%footer.post-footer
		DECEMBER 12, 2012  COMMENTS 0仮
%article#post-4.post
	%header.post-header
		ヘッダーコンテンツ仮
		.post-entry
			content
	%footer.post-footer
		DECEMBER 12, 2012  COMMENTS 0仮
%article#post-5.post
	%header.post-header
		ヘッダーコンテンツ仮
		.post-entry
			content
	%footer.post-footer
		DECEMBER 12, 2012  COMMENTS 0仮