%dl#mod-accordion
	%dt
		アコーディオントリガー
	%dd
		アコーディオンコンテンツ
	%dt
		アコーディオントリガー
	%dd
		アコーディオンコンテンツ
	%dt
		アコーディオントリガー
	%dd
		アコーディオンコンテンツ


%ul.tab
	%li.select
		タブトリガー1
	%li
		タブトリガー2
	%li
		タブトリガー3

%ul.content
	%li
		タブコンテンツ1
	%li.is-closed
		タブコンテンツ2
	%li.is-closed
		タブコンテンツ3
